@page "/"

<PageTitle>To Do App</PageTitle>
<div class="bg-black text-light d-flex flex-column justify-content-center align-items-center" style="height:20vh">
    <h1 class="fs-1">To Do Application</h1>

    <p class="fs-4">Welcome to your new app.</p>
</div>

<ToDoApp />
